* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: 2px solid #e6f3fe;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  /* max-width: 450px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* transition-duration: 1.5s; */
}
.header__item {
  display: inline-block;
  margin: 20px 40px;
  padding-bottom: 4px;
}
.header__item:hover {
  border-bottom: 2px solid #56acf8;
}

.header__link {
  color: #000;
  font-size: 20px;
}
.header__link:hover {
  color: #56acf8;
}
.header__btn {
  border: none;
  padding: 15px 30px;
  background-color: #0082f4;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
}

/* section 1 */
.hero {
  margin-top: 100px;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  font-size: 25px;
  color: #0080fd;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.hero__sub_title {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero__sub_title span {
  color: #0080fd;
}

.hero__text {
  max-width: 430px;
  color: #cfcfcf;
  margin-bottom: 30px;
}

.hero__btn_box {
  display: flex;
  align-items: center;
  justify-content: left;
}
.hero__btn_click {
  border: none;
  padding: 15px 30px;
  background-color: #0082f4;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 30px;
}

.hero__btn_play {
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 6px;
  margin-right: 30px;
  border: 2px solid #e6f3fe;
}

/* section 2 */
.about {
  margin-top: 150px;
}
.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__content_box {
  max-width: 500px;
}
.about__title {
  font-size: 25px;
  color: #0080fd;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.about__sub_title {
  font-size: 50px;
  margin-bottom: 20px;
}
.about__text {
  color: #cfcfcf;
  margin-bottom: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}
.about__btn {
  border: none;
  padding: 15px 30px;
  background-color: #0082f4;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 30px;
}

/* section 3 */
.work {
  margin-top: 200px;
}
.work_title {
  font-size: 48.44px;
  text-align: center;
  margin-bottom: 60px;
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work__item {
  width: 340px;
  display: block;
  align-items: center;
  justify-content: center;
}
.work_img_div {
  margin-bottom: 60px;
}
.work__img {
  display: block;
  margin: 0 auto;
}

.work__sub_title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 28px;
}
.work__text {
  font-size: 20px;
  color: #cfcfcf;
  text-align: center;
}

/* section 4 */

.customers {
  margin-top: 124px;
}
.customers__header_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.customers_title {
  font-size: 50px;
}

.customers__header-box {
  display: flex;
  align-items: center;
}
.customers__header-btn {
  margin-left: 40px;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  color: #0187fd;
  background-color: #f2f9ff;
  border-radius: 50%;
  font-size: 16px;
}

.customers__block {
  display: flex;
  align-items: center;
  justify-content: left;
}

.customers__box {
  margin-right: 67px;
  width: 500px;
  /* height: 285px; */
  display: flex;
}

.customers__box-left {
  width: 100px;
  background-color: #0082f4;
  border-radius: 15px 0 0 15px;
}
.customers__box-left {
  width: 100px;
  position: relative;
}
.customers_img_box {
  position: absolute;
  top: 90px;
  left: 16px;
}
.customers__box-right {
  padding: 30px 92px 30px 65px;
}
.customers__text {
  font-size: 20px;
  color: #cfcfcf;
  margin-bottom: 45px;
}

.customers_sub_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.customer__job {
  color: #cfcfcf;
}

/* section 6 */
.signUp {
  background-color: #f8faff;
  margin-top: 176px;
  padding: 76px 0;
}
.singUp__inner {
    display: grid;
    align-items: center;
    justify-content: center;
}
.signUp__title {
    font-size: 35px;
    color: #058aff;
}

.signUp__text {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.signUp__block {
    padding: 15px 25px;
    max-width: 540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #56acf8;
    border-radius: 6px;
}
.signUp__input {
    outline: none;
    border: none;
    background-color: #ffffff00;
    font-size: 18px;
}
.signUp_sbm {
    padding: 15px 28px;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #0082f4;
    border-radius: 6px;
    color: #fff;
}