* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Livvic", serif;
    background-color: $body_color;
}
button {
    cursor: pointer;
}