* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Mulish", serif;
}