@mixin btn {
    padding: 15px 30px;
    border: 1.40px solid #458ff6;
    border-radius: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #458ff6;
    background-color: #fff;
}
@mixin line($bg_color: #000) {
    border-radius: 10px;
    width: 56px;
    height: 2px;
    background: $bg_color;
    display: block;
}

@mixin center_line {
    display: flex;
    justify-content: center;
    align-items: center;
}