.said__card {
    padding: 60px 40px 40px;
    position: relative;
    background-color: #fafafa;
}
.said__card_img-box {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    border-radius: 100%;

}
.said__card_img {
    width: 100%;
}
.said__card_title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #242d52;
    margin-bottom: 20px;
}

.said__card_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #242d52;
    opacity: 0.5;
}