.apps {
  padding-bottom: 250px;
}
.apps__inner {
  gap: 71px;
  @include center_line;
}

.apps__content_box {
  width: 420px;
}
.apps__title {
  width: 254px;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  color: #000;
  margin-bottom: 30px;
}

.apps__line {
  margin-bottom: 30px;
  @include line;
}
.apps__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  color: #7d7987;
  margin-bottom: 40px;
}

.apps__btn {
    display: block;
    @include btn
}

.apps__img_box {
    width: 665px;
}
.apps_img {
    width: 100%;
}