.article {
    padding-bottom: 200px;
    background-image: url('../../images/article_bg1.svg'), url('../../images/service_bg2.png');
    background-repeat: no-repeat;
    background-position: right, calc(11%) 110px;
}

.article__title {
    font-weight: 700;
font-size: 36px;
line-height: 156%;
color: #000;
text-align: center;
margin-bottom: 26px;
}
.article__line {
    margin: 0 auto 79px;
    @include line
}
.article__inner {
    margin-bottom: 69px;
    gap: 35px;
    @include center_line
}
.article__box {
    border-radius: 20px;
    width: 350px;
    overflow: hidden;
    box-shadow: 10px 0px 50px 0 #78addc3d;
}
.article__box_content {
    padding: 24px 66px 35px 33px;
}
.article__box_title {
    font-weight: 700;
font-size: 21px;
line-height: 152%;
margin-bottom: 12px;
}
.article__box_text {
    font-weight: 300;
font-size: 16px;
line-height: 175%;
color: #7d7987;
margin-bottom: 25px;
}
.article__box_link {
    font-weight: 600;
font-size: 17px;
line-height: 165%;
color: #4089ed;
}
.article__btn {
    margin: 0 auto;
    display: block;
    padding: 15px 65px;
    border: 1.40px solid #458ff6;
    border-radius: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #458ff6;
    background-color: #fff;
}