.customer {
    padding-bottom: 216px;
}

.customer__block {
    z-index: 5;
    background-image: url('../../images/service_bg2.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.customer__inner {
    margin-bottom: 42px;
    padding: 65px 118px 98px;
    border-radius: 24px;
    background: linear-gradient(223deg, #67c3f3 0%, #5a98f2 100%);
}

.customer__title {
    font-weight: 700;
font-size: 36px;
line-height: 133%;
color: #fff;
text-align: center;
margin-bottom: 25px;
}

.customer__line {
    margin: 0 auto 60px;
    @include line(#fff)
}

.customer__box {
    gap: 111px;
    @include center_line
}
.customer__info_box {
    width: 352px;
    flex-shrink: 0;
    gap: 27px;
    @include center_line
}
.customer__info {
    display: grid;
}
.customer__name {
    font-weight: 700;
font-size: 22px;
line-height: 218%;
color: #fff;
}
.customer__job{
    font-weight: 400;
font-size: 18px;
line-height: 267%;
color: #ffffffd9;
}
.customer__text {
    font-weight: 400;
font-size: 19px;
line-height: 158%;
color: #ffffffe6;
    width: 420px;
}

.customer__nav_box {
    width: 336px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer__nav_circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #cee1fc;
}
.customer__nav_circle:nth-child(1) {
    background-color: #5a98f2;
}