.directors {
    background-image: url('../../images/bg3.svg'), url('../../images/bg4.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    padding: 140px 0;
    background-color: $green__light;
}
.directors__title {
    font-weight: 700;
font-size: 48px;
line-height: 100%;
text-align: center;
color: $white;
margin-bottom: 64px;
}

.directors__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 280px 280px;
    column-gap: 30px;
    row-gap: 50px;
}
.directors__box{
    transition: all 0.4s ease;
    position: relative;
    background-color: $green__bold;
}
.directors__box__hidden {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.directors__showed_box {
    transition: all 0.4s ease;
    position: absolute;
    right: 0;
    left: 0;
    display: block;
}
.directors__img_box {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.directors__name_box {
    display: grid;
    justify-content: center;
    margin-bottom: 16px;
}
.directors__box_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: $btn_color;
}
.directors__box_job {
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: $white;
}

.directors__box_btn {
    z-index: 5;
    transition: all 0.2s ease;
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: $belt__color;
    border-radius: 100%;
    border: none;
    font-size: 30px;
    font-weight: 900;
    color: $footer__green;
    bottom: 0;
    left: 50%;
    margin-left: -27px;    
    margin-bottom: -27px;
}

// hidden box
.directors__hide_box {
    transition: all 0.4s ease;
    // display: none;
    position: absolute;
    left: -5000px;
    padding: 25px 24px 63px;
    background-color: $footer__green;
    height: 100%;
}
.directors__hide_title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: $btn_color;
}
.directors__hide_text {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 254px;
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: $white;
}

.directors__hide_social_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.showed_box_hide {
    transition: all 0.4s ease;
    position: absolute;
    left: -5000px;
}
.hidden_to_show {
    transition: all 0.4s ease;
    left: 0;
    right: 0;
}

.directors__box_btn_hover {
    z-index: 5;
    background-color: $btn_color;
    transform: rotate(45deg);
}