footer {
    padding: 48px 0;
    background-color: $footer__green;
}
.footer__inner {
    @include center_line;
    }
.footer__nav_bar {
    display: grid;
    gap: 25px;
}
// .footer__logo_line {
// }
.footer__list {
    @include center_line;
}
.footer__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: $white;
}
.footer__list_element {
    width: 445px;
    display: grid;
    justify-content: flex-start;
    gap: 8px;
}
.footer__element_link {
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    color: $white;
}
.footer__info_box {
    display: grid;
    gap: 51px;
    // align-items: flex-end;
    justify-content: flex-end;
}
.footer__social_box {
    width: 104px;
    @include center_line;
}

.footer__info_title {
    font-weight: 600;
font-size: 15px;
line-height: 167%;
text-align: right;
color: $white;
opacity: 0.6;
}