.hero {
    background-image: url('../../images/bg1.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 120px 0;
}

.hero__inner {
    gap: 188px;
    @include center_line
}
.hero__title {
    font-weight: 700;
font-size: 64px;
line-height: 156%;
color: $white;
}

.hero__box {
    display: grid;
    gap: 40px;
}
.hero__line {
    @include line($belt__color)
}
.hero__text {
    font-weight: 600;
font-size: 18px;
line-height: 156%;
color: $white;
}