.home__stories {
    background-image: url('../images/bg4.svg'), url('../images/bg10.svg');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    padding: 140px 0;
}
.home__stories_title {
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 460px;
    font-weight: 700;
font-size: 32px;
line-height: 100%;
text-align: center;
color: #fff;
    span {
        color: $btn_color;
    }
}
.home__stories_box {
    margin-bottom: 84px;
    &:last-child {
        margin-bottom: 0;
    }
}
.home__stories_text {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 573px;
    font-weight: 600;
font-size: 15px;
line-height: 167%;
text-align: center;
color: $white;
}
.home__stories_name {
    margin-bottom: 3px;
    font-weight: 700;
font-size: 18px;
line-height: 156%;
text-align: center;
color: $btn_color;
}
.home__stories_job{
    margin-bottom: 16px;
    font-style: italic;
font-weight: 500;
font-size: 13px;
line-height: 138%;
text-align: center;
color: $white;
}
.home__stories_img_box {
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 1100px) {
    .home__stories_title {
        max-width: 932px;
        font-weight: 700;
font-size: 48px;
line-height: 100%;
margin-bottom: 56px;
    }
    .home__stories_inner {
        @include center_line;
    }
    .home__stories_box {
        margin: 0;
    }
    .home__stories_text {
        font-size: 15px;
    line-height: 167%;
    }
}