.providers {
  padding-bottom: 265px;
  background-image: url('../../images/service_bg2.png');
  background-repeat: no-repeat;
  background-position: 100% bottom;
}

.providers__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 137px;
}
.providers__img_box {
  width: 650px;
}
.providers__img {
  width: 100%;
  flex-shrink: 0;
}
.providers__content_box {
  width: 486px;
}
.providers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 156%;
  color: #000;
  margin-bottom: 26px;
}

.providers__line {
  margin-bottom: 31px;
  @include line;
}
.providers__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  color: #7d7987;
  margin-bottom: 37px;
}

.providers__btn {
    @include btn
}
