.ready {
    padding: 76px 0;
    background-color: $belt__color;
    background-image: url('../../images/bg6.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
}
.ready__inner {
    @include center_line;
}

.ready__title {
    font-weight: 700;
font-size: 48px;
line-height: 100%;
color: $green__bold;
}
.ready__btn {
    @include btn;
    border: 2px solid $green__bold;
    color: $green__bold;
}